body {
    margin: auto;
    /* width: 885px;*/
    font: 10px arial;
    padding: 25px;
    background-color: #000;
    color: black;
  }
  
#title{
    text-align: center;
    font-size: xxx-large;
}

.tooltip2{
    font-size: 18px;
}

.axis{
  font: 15px sans-serif; 
  font-style: bold ;
}

.maingraph {
  background-color: #ccc;
  border-radius: 10px;
  float: left;
}
.maingraph h1 {
  text-align: center;
  margin-left: -300px;
}

.maingraph:hover {
  box-shadow: 2px 2px 4px 4px rgb(205 205 205);
}


.secondary-graph{
  align-items: center;
  text-align: center;
}

.secondgraph {
  float: left;
  height: 600px;
  transition: box-shadow 0.3s;
  margin: 5px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.secondgraph:hover {
  box-shadow: 2px 2px 4px 4px rgb(205 205 205);
}


.thirdgraph {
  transition: box-shadow 0.3s;
  margin: 5px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  float:left;
  height: 600px;
}
.thirdgraph:hover {
  box-shadow: 2px 2px 4px 4px rgb(205 205 205);
  
}

.toggle-inflation{
  position: relative;
  float: right;
  margin-right: 10vw;
}

.toggle-apollo{
  float: right;
  position: relative;
  margin-right: -2.4vw;
  margin-top: 6vh;
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(230, 68, 76);
  border-radius: 34px;

  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 34px;

  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26x);
  transform: translateX(26px);
}

.switch-text{
  margin-top: 38px;
  display: inline-block;
  white-space: nowrap;
  margin-left: -30px;
}